# Simple Stacks - pipelines for small single node environments
# 1. Build the base AMI (overkill for this example, should be in seperate repo)
# 2. Build the app AMI from the base AMI
# 3. Test the app ami (via terraform plan/apply/testinfra/destroy? test environment)
# 4. terraform plan using the freshly built app AMI (production)
# 5. if master branch - hold
# 6. if master branch - apply

version: 2
jobs:
  xbuild:
    docker:
      - image: simonmcc/hashicorp-pipeline:latest
    steps:
      - run:
          name: Hello World
          command: echo "Hello World! Where's my workflow?"
  terraform-sanity:
    docker:
      - image: simonmcc/hashicorp-pipeline:latest
    steps:
      - checkout
      - run:
          name: terraform fmt
          command: terraform fmt -check=true
      - run:
          name: terraform validate
          # TODO this will probably need a tfvars file passed to at somepoint,
          # so it should probably move inside tf-wrapper.sh
          command: terraform validate
  packer-validate:
    docker:
      - image: simonmcc/hashicorp-pipeline:latest
    steps:
      - checkout
      - run:
          name: Validate base
          command: packer validate ./base/base.json
      - run:
          name: Validate app
          command: packer validate ./app/app.json
  build-base:
    docker:
      - image: simonmcc/hashicorp-pipeline:latest
    working_directory: ~/packer
    steps:
      - checkout
      - attach_workspace:
          at: ~/packer
      - run:
          name: Build base
          command: ./scripts/build.sh base base
          no_output_timeout: 30m
      - persist_to_workspace:
          root: .
          paths:
            - manifest-base.json
      - store_artifacts:
          path: manifest-base.json
  build-app:
    docker:
      - image: simonmcc/hashicorp-pipeline:latest
    working_directory: ~/packer
    steps:
      - checkout
      - attach_workspace:
          at: ~/packer
      - run:
          name: Build app
          command: ./scripts/build.sh app app base
      - store_artifacts:
          path: manifest-app.json
  test-app:
    docker:
      - image: simonmcc/hashicorp-pipeline:latest
    working_directory: ~/packer
    steps:
      - checkout
      - attach_workspace:
          at: ~/packer
      - run:
          name: Build test stack via terraform
          command: ./scripts/tf-wrapper.sh -a plan
      - run:
          name: Terraform apply
          command: ./scripts/tf-wrapper.sh -a apply
      - run:
          name: Test the deployed stack
          command:
            echo "TODO: Test stuff"
      - run:
          name: Destroy Test Stack
          command: ./scripts/tf-wrapper.sh -a destroy
  terraform-plan:
    docker:
      - image: simonmcc/hashicorp-pipeline:latest
    steps:
      - checkout
      - run:
          name: Terraform plan
          command: ./scripts/tf-wrapper.sh -a plan
      - persist_to_workspace:
          root: ./
          paths:
            - plan/plan.out
            - .terraform
  terraform-apply:
    docker:
      - image: simonmcc/hashicorp-pipeline:latest
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Terraform apply
          command: ./scripts/tf-wrapper.sh -a apply

workflows:
  version: 2
  packer-terraform:
    jobs:
      - packer-validate
      - build-base:
          requires:
            - packer-validate
      - build-app:
          requires:
            - packer-validate
            - build-base
      - test-app:
          requires:
            - build-app
      - terraform-plan:
          requires:
            - test-app
          filters:
            tags:
              only: /.*/
            branches:
              only: /master/
      - hold:
          type: approval
          requires:
           - terraform-plan
          filters:
            tags:
              only: /.*/
            branches:
              only: /master/
      - terraform-apply:
          requires:
            - terraform-plan
            - hold
          filters:
            tags:
              only: /.*/
            branches:
              only: /master/
